<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.common.flow.dao.FlowEntryPublishMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.common.flow.model.FlowEntryPublish">
        <id column="entry_publish_id" jdbcType="BIGINT" property="entryPublishId"/>
        <result column="entry_id" jdbcType="BIGINT" property="entryId"/>
        <result column="deploy_id" jdbcType="VARCHAR" property="deployId"/>
        <result column="process_definition_id" jdbcType="VARCHAR" property="processDefinitionId"/>
        <result column="publish_version" jdbcType="INTEGER" property="publishVersion"/>
        <result column="active_status" jdbcType="BIT" property="activeStatus"/>
        <result column="main_version" jdbcType="BIT" property="mainVersion"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="init_task_info" jdbcType="VARCHAR" property="initTaskInfo"/>
    </resultMap>
</mapper>
