<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.webadmin.app.dao.AreaCodeMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.webadmin.app.model.AreaCode">
        <id column="area_id" jdbcType="BIGINT" property="areaId"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="area_level" jdbcType="INTEGER" property="areaLevel"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    </resultMap>
</mapper>