<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.demo.webadmin.app.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="com.orange.demo.webadmin.app.model.Course">
        <id column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="difficulty" jdbcType="INTEGER" property="difficulty"/>
        <result column="grade_id" jdbcType="TINYINT" property="gradeId"/>
        <result column="subject_id" jdbcType="TINYINT" property="subjectId"/>
        <result column="class_hour" jdbcType="INTEGER" property="classHour"/>
        <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="BaseResultMapWithClassCourse" type="com.orange.demo.webadmin.app.model.Course" extends="BaseResultMap">
        <association property="classCourse" column="course_id" foreignColumn="course_id"
                     notNullColumn="course_id" resultMap="com.orange.demo.webadmin.app.dao.ClassCourseMapper.BaseResultMap" />
    </resultMap>

    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="com.orange.demo.webadmin.app.dao.CourseMapper.inputFilterRef"/>
    </sql>

    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="courseFilter != null">
            <if test="courseFilter.courseName != null and courseFilter.courseName != ''">
                <bind name = "safeCourseCourseName" value = "'%' + courseFilter.courseName + '%'" />
                AND zz_course.course_name LIKE #{safeCourseCourseName}
            </if>
            <if test="courseFilter.priceStart != null">
                AND zz_course.price &gt;= #{courseFilter.priceStart}
            </if>
            <if test="courseFilter.priceEnd != null">
                AND zz_course.price &lt;= #{courseFilter.priceEnd}
            </if>
            <if test="courseFilter.difficulty != null">
                AND zz_course.difficulty = #{courseFilter.difficulty}
            </if>
            <if test="courseFilter.gradeId != null">
                AND zz_course.grade_id = #{courseFilter.gradeId}
            </if>
            <if test="courseFilter.subjectId != null">
                AND zz_course.subject_id = #{courseFilter.subjectId}
            </if>
            <if test="courseFilter.classHourStart != null">
                AND zz_course.class_hour &gt;= #{courseFilter.classHourStart}
            </if>
            <if test="courseFilter.classHourEnd != null">
                AND zz_course.class_hour &lt;= #{courseFilter.classHourEnd}
            </if>
            <if test="courseFilter.createTimeStart != null and courseFilter.createTimeStart != ''">
                AND zz_course.create_time &gt;= #{courseFilter.createTimeStart}
            </if>
            <if test="courseFilter.createTimeEnd != null and courseFilter.createTimeEnd != ''">
                AND zz_course.create_time &lt;= #{courseFilter.createTimeEnd}
            </if>
        </if>
    </sql>

    <select id="getCourseList" resultMap="BaseResultMap" parameterType="com.orange.demo.webadmin.app.model.Course">
        SELECT * FROM zz_course
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getCourseListByClassId" resultMap="BaseResultMapWithClassCourse">
        SELECT
            zz_course.*,
            zz_class_course.*
        FROM
            zz_course,
            zz_class_course
        <where>
            AND zz_class_course.class_id = #{classId}
            AND zz_class_course.course_id = zz_course.course_id
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getNotInCourseListByClassId" resultMap="BaseResultMap">
        SELECT
            zz_course.*
        FROM
            zz_course
        <where>
            AND NOT EXISTS (SELECT * FROM zz_class_course
                WHERE zz_class_course.class_id = #{classId} AND zz_class_course.course_id = zz_course.course_id)
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
