<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.uaaauth.dao.AuthClientDetailsMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.uaaauth.model.AuthClientDetails">
        <id column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="client_secret" jdbcType="VARCHAR" property="clientSecret"/>
        <result column="client_secret_plain" jdbcType="VARCHAR" property="clientSecretPlain"/>
        <result column="client_desc" jdbcType="VARCHAR" property="clientDesc"/>
        <result column="authorized_grant_types" jdbcType="VARCHAR" property="authorizedGrantTypes"/>
        <result column="web_server_redirect_uri" jdbcType="VARCHAR" property="webServerRedirectUri"/>
        <result column="access_token_validity" jdbcType="INTEGER" property="accessTokenValidity"/>
        <result column="refresh_token_validity" jdbcType="INTEGER" property="refreshTokenValidity"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted_flag" jdbcType="BIT" property="deletedFlag"/>
    </resultMap>
</mapper>