<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.demo.statsservice.dao.SchoolInfoMapper">
    <resultMap id="BaseResultMap" type="com.orange.demo.statsservice.model.SchoolInfo">
        <id column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
    </resultMap>
</mapper>
