<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.demo.upmsservice.dao.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.orange.demo.upmsservice.model.SysMenu">
        <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_type" jdbcType="INTEGER" property="menuType"/>
        <result column="form_router_name" jdbcType="VARCHAR" property="formRouterName"/>
        <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted_flag" jdbcType="INTEGER" property="deletedFlag"/>
    </resultMap>

    <select id="getMenuListByUserId" resultMap="BaseResultMap">
        SELECT
            DISTINCT m.*
        FROM
            zz_sys_user u,
            zz_sys_user_role ur,
            zz_sys_role_menu rm,
            zz_sys_menu m
        <where>
            AND u.user_id = #{userId}
            AND u.deleted_flag = ${@com.orange.demo.common.core.constant.GlobalDeletedFlag@NORMAL}
            AND u.user_id = ur.user_id
            AND ur.role_id = rm.role_id
            AND rm.menu_id = m.menu_id
            AND m.menu_type &lt;= ${@com.orange.demo.upmsinterface.constant.SysMenuType@TYPE_MENU}
            AND m.deleted_flag = ${@com.orange.demo.common.core.constant.GlobalDeletedFlag@NORMAL}
        </where>
        ORDER BY m.show_order
    </select>
</mapper>
