<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.webadmin.upms.dao.SysMenuPermCodeMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.webadmin.upms.model.SysMenuPermCode">
        <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <id column="perm_code_id" jdbcType="BIGINT" property="permCodeId"/>
    </resultMap>
</mapper>