<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.demo.statsservice.dao.StudentActionStatsMapper">
    <resultMap id="BaseResultMap" type="com.orange.demo.statsservice.model.StudentActionStats">
        <id column="stats_id" jdbcType="BIGINT" property="statsId"/>
        <result column="stats_date" jdbcType="DATE" property="statsDate"/>
        <result column="stats_month" jdbcType="DATE" property="statsMonth"/>
        <result column="grade_id" jdbcType="INTEGER" property="gradeId"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="buy_course_amount" jdbcType="INTEGER" property="buyCourseAmount"/>
        <result column="buy_course_count" jdbcType="INTEGER" property="buyCourseCount"/>
        <result column="buy_video_amount" jdbcType="INTEGER" property="buyVideoAmount"/>
        <result column="buy_video_count" jdbcType="INTEGER" property="buyVideoCount"/>
        <result column="buy_paper_amount" jdbcType="INTEGER" property="buyPaperAmount"/>
        <result column="buy_paper_count" jdbcType="INTEGER" property="buyPaperCount"/>
        <result column="buy_flower_amount" jdbcType="INTEGER" property="buyFlowerAmount"/>
        <result column="buy_flower_count" jdbcType="INTEGER" property="buyFlowerCount"/>
        <result column="recharge_coin_amount" jdbcType="INTEGER" property="rechargeCoinAmount"/>
        <result column="recharge_coin_count" jdbcType="INTEGER" property="rechargeCoinCount"/>
        <result column="do_course_count" jdbcType="INTEGER" property="doCourseCount"/>
        <result column="watch_video_count" jdbcType="INTEGER" property="watchVideoCount"/>
        <result column="watch_video_total_second" jdbcType="INTEGER" property="watchVideoTotalSecond"/>
        <result column="do_exercise_count" jdbcType="INTEGER" property="doExerciseCount"/>
        <result column="do_exercise_correct_count" jdbcType="INTEGER" property="doExerciseCorrectCount"/>
    </resultMap>
    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="com.orange.demo.statsservice.dao.StudentActionStatsMapper.inputFilterRef"/>
    </sql>
    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="studentActionStatsFilter != null">
            <if test="studentActionStatsFilter.statsDateStart != null and studentActionStatsFilter.statsDateStart != ''">
                AND zz_student_action_stats.stats_date &gt;= #{studentActionStatsFilter.statsDateStart}
            </if>
            <if test="studentActionStatsFilter.statsDateEnd != null and studentActionStatsFilter.statsDateEnd != ''">
                AND zz_student_action_stats.stats_date &lt;= #{studentActionStatsFilter.statsDateEnd}
            </if>
            <if test="studentActionStatsFilter.gradeId != null">
                AND zz_student_action_stats.grade_id = #{studentActionStatsFilter.gradeId}
            </if>
            <if test="studentActionStatsFilter.provinceId != null">
                AND zz_student_action_stats.province_id = #{studentActionStatsFilter.provinceId}
            </if>
            <if test="studentActionStatsFilter.cityId != null">
                AND zz_student_action_stats.city_id = #{studentActionStatsFilter.cityId}
            </if>
        </if>
    </sql>

    <select id="getGroupedStudentActionStatsList" resultMap="BaseResultMap" parameterType="com.orange.demo.statsservice.model.StudentActionStats">
        SELECT * FROM
            (SELECT
                SUM(buy_course_amount) buy_course_amount,
                COUNT(buy_course_count) buy_course_count,
                SUM(buy_video_amount) buy_video_amount,
                COUNT(buy_video_count) buy_video_count,
                SUM(buy_paper_amount) buy_paper_amount,
                COUNT(buy_paper_count) buy_paper_count,
                SUM(buy_flower_amount) buy_flower_amount,
                COUNT(buy_flower_count) buy_flower_count,
                SUM(recharge_coin_amount) recharge_coin_amount,
                COUNT(recharge_coin_count) recharge_coin_count,
                SUM(do_course_count) do_course_count,
                SUM(watch_video_count) watch_video_count,
                SUM(watch_video_total_second) watch_video_total_second,
                SUM(do_exercise_count) do_exercise_count,
                SUM(do_exercise_correct_count) do_exercise_correct_count,
                ${groupSelect}
            FROM zz_student_action_stats
            <where>
                <include refid="filterRef"/>
            </where>
            GROUP BY ${groupBy}) zz_student_action_stats
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getStudentActionStatsList" resultMap="BaseResultMap" parameterType="com.orange.demo.statsservice.model.StudentActionStats">
        SELECT * FROM zz_student_action_stats
        <where>
            <if test="inFilterColumn != null and inFilterColumn != '' and inFilterValues != null and inFilterValues.size &gt; 0">
                AND ${inFilterColumn} IN
                <foreach collection="inFilterValues" item="item" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getStudentActionStatsCount" resultType="java.lang.Integer" parameterType="com.orange.demo.statsservice.model.StudentActionStats">
        SELECT COUNT(1) FROM zz_student_action_stats
        <where>
            <if test="inFilterColumn != null and inFilterColumn != '' and inFilterValues != null and inFilterValues.size &gt; 0">
                AND ${inFilterColumn} IN
                <foreach collection="inFilterValues" item="item" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
            <include refid="filterRef"/>
        </where>
    </select>
</mapper>
