<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.admin.app.dao.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.orange.admin.app.model.Teacher">
        <id column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="flower_count" jdbcType="INTEGER" property="flowerCount"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
        <result column="available" jdbcType="BIT" property="available"/>
    </resultMap>

    <sql id="filterRef">
        <if test="teacherFilter != null">
            <if test="teacherFilter.teacherName != null and teacherFilter.teacherName != ''">
                <bind name = "safeTeacherName" value = "'%' + teacherFilter.teacherName + '%'" />
                AND zz_teacher.teacher_name LIKE #{safeTeacherName}
            </if>
            <if test="teacherFilter.birthdayStart != null and teacherFilter.birthdayStart != ''">
                AND zz_teacher.birthday &gt;= #{teacherFilter.birthdayStart}
            </if>
            <if test="teacherFilter.birthdayEnd != null and teacherFilter.birthdayEnd != ''">
                AND zz_teacher.birthday &lt;= #{teacherFilter.birthdayEnd}
            </if>
            <if test="teacherFilter.gender != null">
                AND zz_teacher.gender = #{teacherFilter.gender}
            </if>
            <if test="teacherFilter.subjectId != null">
                AND zz_teacher.subject_id = #{teacherFilter.subjectId}
            </if>
            <if test="teacherFilter.level != null">
                AND zz_teacher.level = #{teacherFilter.level}
            </if>
            <if test="teacherFilter.schoolId != null">
                AND zz_teacher.school_id = #{teacherFilter.schoolId}
            </if>
            <if test="teacherFilter.registerDateStart != null and teacherFilter.registerDateStart != ''">
                AND zz_teacher.register_date &gt;= #{teacherFilter.registerDateStart}
            </if>
            <if test="teacherFilter.registerDateEnd != null and teacherFilter.registerDateEnd != ''">
                AND zz_teacher.register_date &lt;= #{teacherFilter.registerDateEnd}
            </if>
            <if test="teacherFilter.available != null">
                AND zz_teacher.available = #{teacherFilter.available}
            </if>
        </if>
    </sql>

    <select id="getTeacherList" resultMap="BaseResultMap" parameterType="com.orange.admin.app.model.Teacher">
        SELECT * FROM zz_teacher
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>

    <!-- 支持基于一对一从表字段过滤的SQL_ID -->
    <select id="getTeacherListEx" resultMap="BaseResultMap" >
        SELECT
            zz_teacher.*
        FROM
            zz_teacher
        LEFT JOIN
            zz_sys_dept ON zz_teacher.school_id = zz_sys_dept.dept_id
        <where>
            <include refid="filterRef"/>
            <include refid="com.orange.admin.upms.dao.SysDeptMapper.filterRef"/>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
