<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.admin.app.dao.TeacherTransStatsMapper">
    <resultMap id="BaseResultMap" type="com.orange.admin.app.model.TeacherTransStats">
        <id column="stats_id" jdbcType="BIGINT" property="statsId"/>
        <result column="stats_date" jdbcType="DATE" property="statsDate"/>
        <result column="stats_month" jdbcType="DATE" property="statsMonth"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="video_watch_count" jdbcType="INTEGER" property="videoWatchCount"/>
        <result column="flower_count" jdbcType="INTEGER" property="flowerCount"/>
        <result column="new_student" jdbcType="INTEGER" property="newStudent"/>
    </resultMap>

    <sql id="filterRef">
        <if test="teacherTransStatsFilter != null">
            <if test="teacherTransStatsFilter.statsDateStart != null and teacherTransStatsFilter.statsDateStart != ''">
                AND zz_teacher_trans_stats.stats_date &gt;= #{teacherTransStatsFilter.statsDateStart}
            </if>
            <if test="teacherTransStatsFilter.statsDateEnd != null and teacherTransStatsFilter.statsDateEnd != ''">
                AND zz_teacher_trans_stats.stats_date &lt;= #{teacherTransStatsFilter.statsDateEnd}
            </if>
            <if test="teacherTransStatsFilter.schoolId != null">
                AND zz_teacher_trans_stats.school_id = #{teacherTransStatsFilter.schoolId}
            </if>
            <if test="teacherTransStatsFilter.teacherId != null">
                AND zz_teacher_trans_stats.teacher_id = #{teacherTransStatsFilter.teacherId}
            </if>
        </if>
    </sql>

    <select id="getGroupedTeacherTransStatsList" resultMap="BaseResultMap" parameterType="com.orange.admin.app.model.TeacherTransStats">
        SELECT * FROM
            (SELECT
                SUM(video_watch_count) video_watch_count,
                SUM(flower_count) flower_count,
                SUM(new_student) new_student,
                ${groupSelect}
            FROM zz_teacher_trans_stats
            <where>
                <include refid="filterRef"/>
            </where>
            GROUP BY ${groupBy}) zz_teacher_trans_stats
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getTeacherTransStatsList" resultMap="BaseResultMap" parameterType="com.orange.admin.app.model.TeacherTransStats">
        SELECT * FROM zz_teacher_trans_stats
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
