<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.admin.upms.dao.SysDeptMapper">
    <resultMap id="BaseResultMap" type="com.orange.admin.upms.model.SysDept">
        <id column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
        <result column="deleted_flag" jdbcType="INTEGER" property="deletedFlag"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="filterRef">
        <if test="sysDeptFilter != null">
            <if test="sysDeptFilter.deptName != null and sysDeptFilter.deptName != ''">
                <bind name = "safeDeptName" value = "'%' + sysDeptFilter.deptName + '%'" />
                AND zz_sys_dept.dept_name LIKE #{safeDeptName}
            </if>
        </if>
        AND zz_sys_dept.deleted_flag = ${@com.orange.admin.common.core.constant.GlobalDeletedFlag@NORMAL}
    </sql>

    <select id="getSysDeptList" resultMap="BaseResultMap" parameterType="com.orange.admin.upms.model.SysDept">
        SELECT * FROM zz_sys_dept
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
