<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.admin.upms.dao.SysDataPermMenuMapper">
    <resultMap id="BaseResultMap" type="com.orange.admin.upms.model.SysDataPermMenu">
        <result column="data_perm_id" jdbcType="BIGINT" property="dataPermId"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
    </resultMap>

    <resultMap id="BaseResultMapEx" type="com.orange.admin.upms.model.SysDataPermMenu" extends="BaseResultMap">
        <result column="rule_type" jdbcType="INTEGER" property="ruleType"/>
    </resultMap>

    <select id="getSysDataPermMenuListByUserId" resultMap="BaseResultMapEx" >
        SELECT
            dpm.*, dp.rule_type
        FROM
            zz_sys_data_perm_user dpu
        INNER JOIN
            zz_sys_data_perm dp ON dpu.data_perm_id = dp.data_perm_id
        LEFT JOIN
            zz_sys_data_perm_menu dpm ON dpu.data_perm_id = dpm.data_perm_id
        <where>
            AND dpu.user_id = #{userId}
            AND dp.deleted_flag = ${@com.orange.admin.common.core.constant.GlobalDeletedFlag@NORMAL}
        </where>
    </select>
</mapper>