<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.admin.upms.dao.SysDataPermMapper">
    <resultMap id="BaseResultMap" type="com.orange.admin.upms.model.SysDataPerm">
        <id column="data_perm_id" jdbcType="BIGINT" property="dataPermId"/>
        <result column="data_perm_name" jdbcType="VARCHAR" property="dataPermName"/>
        <result column="rule_type" jdbcType="INTEGER" property="ruleType"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted_flag" jdbcType="INTEGER" property="deletedFlag"/>
    </resultMap>

    <resultMap id="BaseResultMapEx" type="com.orange.admin.upms.model.SysDataPerm" extends="BaseResultMap">
        <collection property="dataPermDeptList" column="data_perm_id" javaType="ArrayList"
                    ofType="com.orange.admin.upms.model.SysDataPermDept" notNullColumn="dept_id"
                    resultMap="com.orange.admin.upms.dao.SysDataPermDeptMapper.BaseResultMap">
        </collection>
    </resultMap>

    <sql id="filterRef">
        <if test="sysDataPermFilter != null">
            <if test="sysDataPermFilter.ruleType != null">
                AND zz_sys_data_perm.rule_type = #{sysDataPermFilter.ruleType}
            </if>
            <if test="sysDataPermFilter.searchString != null and sysDataPermFilter.searchString != ''">
                <bind name= "safeSearchString" value= "'%' + sysDataPermFilter.searchString + '%'" />
                AND IFNULL(zz_sys_data_perm.data_perm_name, '') LIKE #{safeSearchString}
            </if>
        </if>
        AND zz_sys_data_perm.deleted_flag = ${@com.orange.admin.common.core.constant.GlobalDeletedFlag@NORMAL}
    </sql>

    <select id="getSysDataPermList" resultMap="BaseResultMap" parameterType="com.orange.admin.upms.model.SysDataPerm">
        SELECT
            zz_sys_data_perm.*
        FROM
            zz_sys_data_perm
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>